@charset "utf-8";

@font-face {
  font-family: mainfont;
  src: url(../webfonts/Montserrat-SemiBold.woff) format("woff");
}
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{height: auto;}
header{position: fixed; top: 0; left: 0; width: 100%; height: 72px; font-weight: bold; z-index: 999; background: #fff;}
header .inner{width: 100%; max-width: 1280px; margin: 0 auto; display: flex; padding: 0 40px;}
header .logo img{width: 80px; height: 68px; cursor: pointer;}

header .inner > ul{display: flex; justify-content: center; width: 100%; max-width: 1280px; height: 100%; gap: 15px;}
header .inner > ul > li{position: relative;}
header .inner > ul > li > p{position: relative; color: #000; margin: 0 32px; padding: 25px 0; font-family: mainfont; text-transform: uppercase; cursor: pointer; overflow: hidden; display: inline-block;}
header .inner > ul > li >  p a{position: relative; color: #000;font-family: mainfont; text-transform: uppercase; cursor: pointer; overflow: hidden; display: inline-block;}
header .inner > ul > li p::after{
  content: "";
  position: absolute;
  bottom: 10px; 
  left: 0; 
  width: 100px;
  height: 2px;
  background: #fff;
  transform: translateX(-100%);
  transition: 0.4s;
}
header .inner > ul > li:hover p::after{
  transform: translateX(0);
}
header .inner > ul > li ul{background: #fff; padding: 16px; color: #666; display: none; font-weight: 500; position: absolute; top: 73px; left: 10px; filter: drop-shadow(0px 1px 8px rgba(0, 0, 0, 0.08)); }
header .inner > ul > li:hover ul{display: block;}
header .inner > ul > li ul li{margin-bottom: 16px; white-space: nowrap;}
header .inner > ul > li ul li:hover{color: #211955; cursor: pointer;}
header .inner > ul > li ul li:last-child{margin-bottom: 0;}


.main1{width: 100%; padding: 120px 0 180px; background: #111; display: flex; flex-direction: column; align-items: center;}
.main1 img{vertical-align: middle;}
.main1 h1{width: 1200px; font-size: 48px; color: #fff; margin: 0 auto;}

.main1 .con1{padding-top: 120px;}
.main1 .con2{}